@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
.display-none {
  display: none !important;
}

.scroll-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 100vh;
  background-color: pink;
}

.pub-card-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.pub-card-wrapper .pub-card-img-wrapper {
  height: 150px;
  background-color: aqua;
}
.pub-card-wrapper .pub-card-not-img-wrapper {
  display: flex;
  column-gap: 12px;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-line-wrapper {
  width: 2px;
  height: 156px;
  background-color: aqua;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1 1 0;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper .pub-card-title-wrapper {
  height: 40px;
  background-color: aqua;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper .pub-card-description-wrapper {
  height: 40px;
  background-color: aqua;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper .pub-card-statistics-wrapper {
  display: flex;
  column-gap: 12px;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper .pub-card-statistics-wrapper .pub-card-statistic-item-wrapper {
  width: 24px;
  height: 24px;
  background-color: aqua;
}
.pub-card-wrapper .pub-card-not-img-wrapper .pub-card-not-line-wrapper .pub-card-pubdate-wrapper {
  width: 70px;
  height: 16px;
  background-color: aqua;
}

.user-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.user-card-wrapper .user-card-img-wrapper,
.user-card-wrapper .user-card-name-wrapper,
.user-card-wrapper .user-card-description-wrapper {
  background-color: aqua;
}
.user-card-wrapper .user-card-img-wrapper {
  width: 150px;
  height: 150px;
}
.user-card-wrapper .user-card-name-wrapper {
  width: 200px;
  height: 20px;
}
.user-card-wrapper .user-card-description-wrapper {
  width: 100%;
  height: 40px;
}

.comments-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comment-img-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.comments-block-wrapper .add-comment-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form-wrapper {
  width: 720px;
  height: 48px;
  background-color: aqua;
}
.comments-block-wrapper .comments-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper,
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-text-wrapper,
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper,
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-answers-btn-wrapper {
  width: 720px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-name-wrapper,
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-pubdate-wrapper {
  height: 20px;
  background-color: aqua;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-name-wrapper {
  width: 100px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-pubdate-wrapper {
  width: 50px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-text-wrapper {
  height: 48px;
  background-color: aqua;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-reply-btn-wrapper,
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-btns-wrapper {
  height: 36px;
  background-color: aqua;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-reply-btn-wrapper {
  width: 100px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-btns-wrapper {
  width: 70px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-btn-wrapper {
  height: 36px;
  background-color: aqua;
}

html {
  font-size: 14px;
}

body {
  background-color: #F0F1F5;
}

header,
footer {
  display: flex;
  z-index: 1;
  width: 100%;
  padding: 6px 48px;
  background-color: #112233;
}

header {
  position: fixed;
  column-gap: 48px;
}
header .burger-btn-wrapper,
header .logo-wrapper,
header .search-wrapper,
header .public-btns-wrapper,
header .sign-btns-wrapper,
header .user-btns-wrapper {
  height: 36px;
}
header .burger-btn-wrapper {
  width: 36px;
  background-color: aqua;
}
header .burger-btn-wrapper .menu-wrapper {
  position: fixed;
  top: 48px;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  transform: translateX(-100%);
  height: calc(100vh - 48px);
  border-top: 6px solid #112233;
  border-bottom: 54px solid #112233;
  background-color: #112233;
  overflow: auto;
}
header .burger-btn-wrapper .menu-wrapper .menu-items-wrapper {
  height: 300px;
  background-color: pink;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper {
  display: flex;
  column-gap: 12px;
  padding: 0 48px;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper .custom-select-wrapper {
  width: 100px;
  height: 36px;
  background-color: pink;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper .custom-select-wrapper .custom-select-options-wrapper {
  position: relative;
  top: 36px;
  height: 100px;
  background-color: gray;
}
header .burger-btn-wrapper .menu-active {
  transform: translateX(0%);
}
header .logo-wrapper {
  width: 100px;
  background-color: aqua;
}
header .search-wrapper {
  flex: 1 1 200px;
  background-color: aqua;
}
header .search-wrapper .search-autocomplete-wrapper {
  position: relative;
  top: 42px;
  height: 100px;
  background-color: #112233;
}
header .public-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
header .public-btns-wrapper .public-btn-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
header .sign-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
header .sign-btns-wrapper .sign-btn-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper {
  display: flex;
  column-gap: 24px;
}
header .user-btns-wrapper .user-btn-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper {
  position: relative;
  top: 36px;
  right: 444px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 480px;
  padding: 12px;
  background-color: #112233;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper {
  display: flex;
  column-gap: 6px;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-img-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex: 1 1 0;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-text-wrapper {
  height: 48px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper {
  display: flex;
  justify-content: space-between;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-btns-wrapper {
  display: flex;
  column-gap: 6px;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-btns-wrapper .notification-btn-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-pubdate-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .documents-btns-wrapper {
  display: flex;
  margin-right: -12px;
}
footer .documents-btns-wrapper .document-btn-wrapper {
  width: 150px;
  height: 36px;
  margin-right: 12px;
  background-color: aqua;
}
footer .copyright-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}
footer .social-media-btns-wrapper {
  display: flex;
  margin-right: -24px;
}
footer .social-media-btns-wrapper .social-media-btn-wrapper {
  width: 36px;
  height: 36px;
  margin-right: 24px;
  background-color: aqua;
}

main {
  min-height: calc(100vh - 48px);
}

/* ---------- signup.html ---------- */
.signup-main {
  padding: 96px 35% 48px;
}
.signup-main .signup-wrapper {
  width: 100%;
  height: 600px;
  background-color: aqua;
}

/* ---------- /signup.html ---------- */
/* ---------- signin.html ---------- */
.signin-main {
  padding: 96px 35% 48px;
}
.signin-main .signin-wrapper {
  width: 100%;
  height: 600px;
  background-color: aqua;
}

/* ---------- /signin.html ---------- */
/* ---------- passrecovery.html ---------- */
.passrecovery-main {
  padding: 96px 35% 48px;
}
.passrecovery-main .passrecovery-wrapper {
  width: 100%;
  height: 600px;
  background-color: aqua;
}

/* ---------- /passrecovery.html ---------- */
/* ---------- main.html ---------- */
.main-main {
  padding: 96px 48px 48px;
}
.main-main .main-first-wrapper {
  width: 100%;
  height: 100px;
  margin-bottom: 48px;
  background-color: aqua;
}
.main-main .main-second-wrapper {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

/* ---------- /main.html ---------- */
/* ---------- user.html ---------- */
.user-main {
  display: flex;
  column-gap: 48px;
  padding: 96px 48px 48px;
}
.user-main .profile-h-wrapper {
  width: 250px;
  height: 24px;
  background-color: aqua;
}
.user-main .user-wrapper-1,
.user-main .user-wrapper-2 {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.user-main .user-wrapper-1 {
  min-width: 240px;
}
.user-main .user-wrapper-1 .profile-img-wrapper {
  height: 300px;
  background-color: aqua;
}
.user-main .user-wrapper-1 .profile-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-btn-wrapper {
  width: 150px;
  height: 36px;
  background-color: aqua;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-btn-wrapper .profile-btn-submenu-wrapper {
  position: relative;
  top: 36px;
  right: 164px;
  width: 200px;
  height: 300px;
  background-color: gray;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-btn-wrapper:last-of-type {
  width: 36px !important;
}
.user-main .user-wrapper-1 .profile-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list-wrapper {
  height: 250px;
  background-color: aqua;
}
.user-main .user-wrapper-2 {
  flex: 1 1 0;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper,
.user-main .user-wrapper-2 .profile-content-block-wrapper,
.user-main .user-wrapper-2 .profile-comments-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper .profile-name-wrapper,
.user-main .user-wrapper-2 .profile-name-description-wrapper .profile-description-wrapper {
  background-color: aqua;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper .profile-name-wrapper {
  width: 400px;
  height: 28px;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper .profile-description-wrapper {
  max-width: 720px;
  height: 48px;
}
.user-main .user-wrapper-2 .profile-content-block-wrapper .profile-content-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(3, 1fr);
  max-height: 660px;
  overflow: auto;
}
/* ---------- /user.html ---------- */
/* ---------- settings.html ---------- */
.settings-main {
  padding: 96px 35% 48px;
}
.settings-main .settings-wrapper {
  width: 100%;
  height: 600px;
  background-color: aqua;
}

/* ---------- /settings.html ---------- */
/* ---------- passchange.html ---------- */
.passchange-main {
  padding: 96px 35% 48px;
}
.passchange-main .passchange-wrapper {
  width: 100%;
  height: 500px;
  background-color: aqua;
}

/* ---------- /passchange.html ---------- */
/* ---------- about.html ---------- */
.about-main {
  padding: 96px 48px 48px;
}
.about-main .about-wrapper {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

/* ---------- /about.html ---------- */
/* ---------- support.html ---------- */
.support-main {
  padding: 96px 25% 48px;
}
.support-main .support-wrapper {
  width: 100%;
  height: 500px;
  background-color: aqua;
}

/* ---------- /support.html ---------- */
/* ---------- search.html ---------- */
.search-main {
  padding: 96px 25% 48px;
}
.search-main .search-results-wrapper {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

/* ---------- /search.html ---------- */
/* ---------- chat.html ---------- */
.chat-main {
  display: flex;
  padding: 48px 48px 0;
}
.chat-main .chat-wrapper-1,
.chat-main .chat-wrapper-2 {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
}
.chat-main .chat-wrapper-1 {
  width: 30%;
}
.chat-main .chat-wrapper-1 .chat-global-search-block-wrapper {
  padding: 6px 12px;
  background-color: gray;
}
.chat-main .chat-wrapper-1 .chat-global-search-block-wrapper .chat-global-search-wrapper {
  width: 100%;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper {
  flex: 1 1 0;
  overflow: auto;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper {
  display: flex;
  column-gap: 6px;
  padding: 12px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-img-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex: 1 1 0;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 {
  display: flex;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 {
  justify-content: space-between;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-name-wrapper,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-pubdate-wrapper {
  height: 15px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-name-wrapper {
  width: 150px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-pubdate-wrapper {
  width: 75px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 {
  column-gap: 6px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-wrapper,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-status-wrapper {
  height: 15px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-wrapper {
  flex: 1 1 0;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-status-wrapper {
  width: 15px;
}
.chat-main .chat-wrapper-2 {
  width: 70%;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header,
.chat-main .chat-wrapper-2 .chat-wrapper-2-footer {
  padding: 6px 12px;
  background-color: blue;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header {
  display: flex;
  justify-content: space-between;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-name-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-btns-wrapper .chat-wrapper-2-header-btn {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1 1 0;
  padding: 12px;
  overflow: auto;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-my-message-wrapper,
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-anothers-message-wrapper {
  width: 80%;
  height: 100px;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-my-message-wrapper {
  float: right;
  background-color: lime;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-anothers-message-wrapper {
  background-color: white;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-pubdate-block-wrapper {
  display: flex;
  justify-content: center;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-pubdate-block-wrapper .chat-pubdate-wrapper {
  width: 100px;
  height: 20px;
  background-color: gray;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-footer .chat-send-message-wrapper {
  height: 36px;
  background-color: aqua;
}

/* ---------- /chat.html ---------- */
/* ---------- publication.html ---------- */
.publication-main {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 96px 48px 48px;
}
.publication-main .publication-wrapper-1 {
  display: flex;
  column-gap: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1,
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 {
  flex: 1.5 1.5 0;
  max-width: calc((100% - 48px) * 0.6);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper {
  height: 400px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-small-img-item-wrapper {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-img-selected {
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-tabs-wrapper {
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper {
  display: flex;
  column-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-section-btns-block-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-section-btns-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1 1 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-section-btns-block-wrapper .publication-section-btn-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-section-btns-block-wrapper .publication-section-btn-wrapper {
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 5 5 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-header-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-header-wrapper {
  height: 24px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-content-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-content-wrapper {
  height: 600px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-ideas-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(3, 1fr);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 {
  flex: 1 1 0;
  max-width: calc((100% - 48px) * 0.4);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper {
  display: flex;
  column-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-type-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-location-wrapper {
  height: 20px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-type-wrapper {
  width: 100px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-location-wrapper {
  width: 150px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-title-wrapper {
  width: 100%;
  height: 60px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-description-wrapper {
  width: 100%;
  height: 100px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-tags-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-tags-wrapper .publication-tag-item-wrapper {
  width: 100px;
  height: 15px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-date-wrapper {
  width: 100px;
  height: 20px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper {
  display: flex;
  column-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-img-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-name-wrapper {
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-img-wrapper {
  width: 36px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-name-wrapper {
  width: 150px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper:last-of-type {
  align-items: center;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-statistic-wrapper {
  width: 300px;
  height: 20px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-block-wrapper {
  display: flex;
  column-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-block-wrapper .publication-reaction-btn {
  width: 150px;
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-block-wrapper .publication-reaction-like-btns-wrapper {
  display: flex;
  column-gap: 6px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-block-wrapper .publication-reaction-like-btns-wrapper .publication-reaction-like-btn {
  width: 80px;
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-block-wrapper .publication-reaction-other-btn {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-2 .publication-recommendations-title-wrapper {
  width: 200px;
  height: 24px;
  background-color: aqua;
}
.publication-main .publication-wrapper-2 .publication-recommendations-block-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(3, 1fr);
}
/* ---------- /publication.html ---------- */
/* ---------- pubproblem.html ---------- */
.pubproblem-main {
  padding: 96px 25% 48px;
}
.pubproblem-main .pubproblem-wrapper {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

/* ---------- /pubproblem.html ---------- */
/* ---------- pubidea.html ---------- */
.pubidea-main {
  padding: 96px 25% 48px;
}
.pubidea-main .pubidea-wrapper {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

/* ---------- /pubidea.html ---------- */

/*# sourceMappingURL=styles.css.map */
