@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
.display-none {
  display: none !important;
}

/***** Custom Scrollbar *****/
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #e1e3eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #c2c6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a4aac2;
}

/***** /Custom Scrollbar *****/
.scroll-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 100vh;
  background-color: pink;
}

.btn {
  height: 36px;
  padding: 0 24px;
  border: 0;
  border-radius: 2px;
  margin: 0;
  font: 1rem/36px "Montserrat-SemiBold";
  transition: 0.1s;
  cursor: pointer;
}

.ico-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s;
}

.card-statistics-wrapper {
  display: flex;
  gap: 7.2px;
  flex-wrap: wrap;
}
.card-statistics-wrapper .card-statistic-item-wrapper {
  display: flex;
  column-gap: 2.4px;
}
.card-statistics-wrapper .card-statistic-item-wrapper .card-statistic-item-ico {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #949bb8;
}
.card-statistics-wrapper .card-statistic-item-wrapper .card-statistic-item-value {
  font: 0.8rem/1.2rem "Montserrat-SemiBold";
  color: #484f6b;
}

.pub-card {
  position: relative;
  display: flex;
  gap: 12px;
  text-decoration: none;
}
.pub-card:before {
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: -1;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  border-radius: 2px;
  content: "";
  transition: 0.1s;
  opacity: 0;
}
.pub-card:hover:before {
  opacity: 1;
}
.pub-card[class~=pub-card-idea]:before {
  background-color: #f2d6db;
}
.pub-card[class~=pub-card-idea]:hover .pub-card-img-wrapper .pub-card-type-vertical {
  background-color: rgba(208, 4, 12, 0.95);
}
.pub-card[class~=pub-card-idea]:hover .pub-card-not-img-wrapper .pub-card-type-horizontal {
  color: #d0040c;
}
.pub-card[class~=pub-card-idea] .pub-card-img-wrapper .pub-card-type-vertical {
  background-color: rgba(208, 4, 12, 0.8);
}
.pub-card[class~=pub-card-idea] .pub-card-not-img-wrapper .pub-card-type-horizontal {
  color: #da040d;
}
.pub-card[class~=pub-card-problem]:before {
  background-color: #d2e8f7;
}
.pub-card[class~=pub-card-problem]:hover .pub-card-img-wrapper .pub-card-type-vertical {
  background-color: rgba(0, 89, 139, 0.95);
}
.pub-card[class~=pub-card-problem]:hover .pub-card-not-img-wrapper .pub-card-type-horizontal {
  color: #006caa;
}
.pub-card[class~=pub-card-problem] .pub-card-img-wrapper .pub-card-type-vertical {
  background-color: rgba(0, 89, 139, 0.8);
}
.pub-card[class~=pub-card-problem] .pub-card-not-img-wrapper .pub-card-type-horizontal {
  color: #0073b4;
}
.pub-card[class~=pub-card-vertical] {
  flex-direction: column;
}
.pub-card[class~=pub-card-vertical] .pub-card-img-wrapper {
  padding-top: 56.25%;
}
.pub-card[class~=pub-card-vertical] .pub-card-img-wrapper .pub-card-type-vertical {
  position: absolute;
  top: 4.8px;
  left: 4.8px;
  z-index: 1;
  padding: 0 4.8px;
  border-radius: 2px;
  font: 0.8rem/1.2rem "Montserrat-SemiBold";
  color: #fcfcfd;
}
.pub-card[class~=pub-card-horizontal] {
  flex-direction: row;
}
.pub-card[class~=pub-card-horizontal] .pub-card-img-wrapper {
  padding-top: calc((50% - 6px) * 0.5625);
}
.pub-card[class~=pub-card-horizontal] .pub-card-not-img-wrapper .pub-card-type-horizontal {
  font: 0.8rem/1.2rem "Montserrat-SemiBold";
}
.pub-card .pub-card-img-wrapper {
  flex: 1 1 0;
  position: relative;
}
.pub-card .pub-card-img-wrapper .pub-card-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}
.pub-card .pub-card-not-img-wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.pub-card .pub-card-not-img-wrapper .pub-card-title,
.pub-card .pub-card-not-img-wrapper .pub-card-description {
  max-height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000101;
}
.pub-card .pub-card-not-img-wrapper .pub-card-title {
  font: 1rem/1.2rem "Montserrat-SemiBold";
}
.pub-card .pub-card-not-img-wrapper .pub-card-description {
  font: 1rem/1.2rem "Montserrat-Regular";
}
.pub-card .pub-card-not-img-wrapper .pub-card-pubdate-author-wrapper {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.pub-card .pub-card-not-img-wrapper .pub-card-pubdate-author-wrapper .pub-card-pubdate,
.pub-card .pub-card-not-img-wrapper .pub-card-pubdate-author-wrapper .pub-card-author {
  font: 0.8rem/1.2rem "Montserrat-SemiBold";
}
.pub-card .pub-card-not-img-wrapper .pub-card-pubdate-author-wrapper .pub-card-author {
  color: rgba(0, 1, 1, 0.8);
}
.pub-card .pub-card-not-img-wrapper .pub-card-pubdate-author-wrapper .pub-card-pubdate {
  color: rgba(0, 1, 1, 0.55);
}

.user-card {
  position: relative;
  display: flex;
  gap: 12px;
  text-decoration: none;
}
.user-card:before {
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: -1;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  border-radius: 2px;
  content: "";
  transition: 0.1s;
  background-color: transparent;
}
.user-card:hover:before {
  background-color: #e1e3eb;
}
.user-card:hover .user-card-img-block .user-card-online:after {
  border: 2px solid #e1e3eb !important;
}
.user-card[class~=user-card-vertical] {
  flex-direction: column;
}
.user-card[class~=user-card-vertical] .user-card-img-block .user-card-online:after {
  bottom: 7%;
}
.user-card[class~=user-card-horizontal] {
  flex-direction: row;
}
.user-card[class~=user-card-horizontal] .user-card-not-img-wrapper {
  justify-content: center;
}
.user-card[class~=user-card-horizontal] .user-card-img-block .user-card-online:after {
  bottom: 12%;
}
.user-card .user-card-img-block {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}
.user-card .user-card-img-block .user-card-img-wrapper {
  position: relative;
  width: 56.25%;
  padding-top: 56.25%;
}
.user-card .user-card-img-block .user-card-img-wrapper[class~=user-card-online]:after {
  position: absolute;
  right: 7%;
  width: 18px;
  height: 18px;
  border: 2px solid #F0F1F5;
  border-radius: 50%;
  content: "";
  background-color: #53c68c;
}
.user-card .user-card-img-block .user-card-img-wrapper .user-card-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.user-card .user-card-not-img-wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.user-card .user-card-not-img-wrapper .user-card-name,
.user-card .user-card-not-img-wrapper .user-card-description {
  max-height: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000101;
}
.user-card .user-card-not-img-wrapper .user-card-name {
  font: 1rem/1.2rem "Montserrat-SemiBold";
}
.user-card .user-card-not-img-wrapper .user-card-description {
  font: 1rem/1.2rem "Montserrat-Regular";
}
.user-card .user-card-not-img-wrapper .user-card-location {
  font: 0.8rem/1.2rem "Montserrat-SemiBold";
  color: rgba(0, 1, 1, 0.55);
}

.comments-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comment-img-link {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
}
.comments-block-wrapper .comment-img-link .comment-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.comments-block-wrapper .add-comment-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 0 1 720px;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-field {
  padding: 6px 12px;
  border: 0;
  border-radius: 2px;
  outline: 2px solid transparent;
  font: 1rem/24px "Montserrat-Regular";
  color: #000101;
  background-color: #e1e3eb;
  resize: none;
  transition: 0.1s;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-field:focus {
  outline: 2px solid #a4aac2;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-field::placeholder {
  font: 1rem/24px "Montserrat-Regular";
  color: #525a7b;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-field:placeholder-shown ~ .add-comment-submit-btn {
  display: none;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-submit-btn {
  align-self: end;
  color: #fcfcfd;
  background-color: #112233;
}
.comments-block-wrapper .add-comment-wrapper .add-comment-form .add-comment-submit-btn:hover {
  background-color: #1e3c59;
}
.comments-block-wrapper .comments-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper {
  display: flex;
  column-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  max-width: 720px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper {
  display: flex;
  column-gap: 6px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-name {
  font: 0.8rem/1rem "Montserrat-SemiBold";
  color: #000101;
  text-decoration: none;
  cursor: pointer;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-name:hover {
  text-decoration: underline;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-name-pubdate-wrapper .comment-pubdate {
  font: 0.8rem/1rem "Montserrat-SemiBold";
  color: rgba(0, 1, 1, 0.55);
  cursor: default;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-text {
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #000101;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper {
  display: flex;
  column-gap: 6px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-reply-btn {
  color: #525a7b;
  background-color: transparent;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-reply-btn:hover {
  background-color: #e1e3eb;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-dislike-btn {
  display: flex;
  column-gap: 6px;
  padding: 0 12px;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-dislike-btn:hover {
  background-color: #e1e3eb;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-dislike-btn .comment-like-dislike-ico {
  font-size: 1rem;
  line-height: 36px;
  color: #525a7b;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .only-comment-not-img-wrapper .comment-reaction-btns-wrapper .comment-like-dislike-btn .comment-likes-dislikes-count {
  font: 0.8rem/36px "Montserrat-Regular";
  color: #525a7b;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-btn {
  display: flex;
  column-gap: 6px;
  align-self: start;
  padding: 0 24px;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-btn:hover {
  background-color: #e1e3eb;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-btn .comment-answers-btn-ico {
  font-size: 1rem;
  line-height: 36px;
  color: #525a7b;
}
.comments-block-wrapper .comments-wrapper .comment-wrapper .comment-not-img-wrapper .comment-answers-btn .comment-answers-btn-text {
  font: 1rem/36px "Montserrat-SemiBold";
  color: #525a7b;
}

.tabs-wrapper {
  display: flex;
  border-bottom: 2px solid #112233;
}
.tabs-wrapper .tab-item {
  flex: 1 1 0;
  padding: 0 12px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  font-size: 1rem;
  line-height: 33px;
  color: #112233;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.tabs-wrapper .tab-item[class~=selected-tab] {
  border-bottom: 3px solid #112233;
  font-family: "Montserrat-Bold";
}
.tabs-wrapper .tab-item:not([class~=selected-tab]) {
  border-bottom: 3px solid transparent;
  font-family: "Montserrat-SemiBold";
}
.tabs-wrapper .tab-item:not([class~=selected-tab]):hover {
  border-bottom: 3px solid #a4aac2;
}

.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
  border: 2px solid gray;
}
.form-wrapper .form-title-wrapper {
  position: absolute;
  top: -13px;
  left: 12px;
  width: 200px;
  height: 24px;
  background-color: aqua;
}

h1 {
  font: 1.4rem/1.6rem "Montserrat-Bold";
  color: #000101;
}

h2 {
  font: 1.2rem/1.4rem "Montserrat-Bold";
  color: #000101;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background-color: #F0F1F5;
}

header,
footer {
  display: flex;
  z-index: 999;
  width: 100%;
  padding: 6px 48px;
  background-color: #112233;
}

header {
  position: fixed;
  column-gap: 48px;
}
header .burger-btn-wrapper,
header .logo-wrapper,
header .search-wrapper,
header .public-btns-wrapper,
header .sign-btns-wrapper,
header .user-btns-wrapper {
  height: 36px;
}
header .burger-btn-wrapper {
  width: 36px;
  background-color: aqua;
}
header .burger-btn-wrapper .menu-wrapper {
  position: fixed;
  top: 48px;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  transform: translateX(-100%);
  height: calc(100vh - 48px);
  border-top: 6px solid #112233;
  border-bottom: 54px solid #112233;
  background-color: #112233;
  overflow: auto;
}
header .burger-btn-wrapper .menu-wrapper .menu-items-wrapper {
  height: 300px;
  background-color: pink;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper {
  display: flex;
  column-gap: 12px;
  padding: 0 48px;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper .custom-select-wrapper {
  width: 100px;
  height: 36px;
  background-color: pink;
}
header .burger-btn-wrapper .menu-wrapper .menu-selects-wrapper .custom-select-wrapper .custom-select-options-wrapper {
  position: relative;
  top: 36px;
  height: 100px;
  background-color: gray;
}
header .burger-btn-wrapper .menu-active {
  transform: translateX(0%);
}
header .logo-wrapper {
  width: 100px;
  background-color: aqua;
}
header .search-wrapper {
  flex: 1 1 200px;
  background-color: aqua;
}
header .search-wrapper .search-autocomplete-wrapper {
  position: relative;
  top: 42px;
  height: 100px;
  background-color: #112233;
}
header .public-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
header .public-btns-wrapper .public-btn-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
header .sign-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
header .sign-btns-wrapper .sign-btn-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper {
  display: flex;
  column-gap: 24px;
}
header .user-btns-wrapper .user-btn-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper {
  position: relative;
  top: 36px;
  right: 444px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 480px;
  padding: 12px;
  background-color: #112233;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper {
  display: flex;
  column-gap: 6px;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-img-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex: 1 1 0;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-text-wrapper {
  height: 48px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper {
  display: flex;
  justify-content: space-between;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-btns-wrapper {
  display: flex;
  column-gap: 6px;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-btns-wrapper .notification-btn-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}
header .user-btns-wrapper .user-btn-wrapper .notifications-wrapper .notification-wrapper .notification-not-img-wrapper .notification-not-text-wrapper .notification-pubdate-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .documents-btns-wrapper {
  display: flex;
  margin-right: -12px;
}
footer .documents-btns-wrapper .document-btn-wrapper {
  width: 150px;
  height: 36px;
  margin-right: 12px;
  background-color: aqua;
}
footer .copyright-wrapper {
  width: 100px;
  height: 36px;
  background-color: aqua;
}
footer .social-media-btns-wrapper {
  display: flex;
  margin-right: -24px;
}
footer .social-media-btns-wrapper .social-media-btn-wrapper {
  width: 36px;
  height: 36px;
  margin-right: 24px;
  background-color: aqua;
}

main {
  min-height: calc(100vh - 48px);
}

/* ---------- signup.html ---------- */
.signup-main {
  padding: 96px 35% 48px;
}
.signup-main .form-wrapper .signup-wrapper {
  height: 600px;
  background-color: aqua;
}

/* ---------- /signup.html ---------- */
/* ---------- signin.html ---------- */
.signin-main {
  padding: 96px 35% 48px;
}
.signin-main .form-wrapper .signin-wrapper {
  height: 600px;
  background-color: aqua;
}

/* ---------- /signin.html ---------- */
/* ---------- passrecovery.html ---------- */
.passrecovery-main {
  padding: 96px 35% 48px;
}
.passrecovery-main .form-wrapper .passrecovery-form-wrapper {
  height: 300px;
  background-color: aqua;
}

/* ---------- /passrecovery.html ---------- */
/* ---------- main.html ---------- */
.main-main {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 96px 48px 48px;
}
.main-main .main-wrapper-1 {
  display: flex;
  column-gap: 24px;
}
.main-main .main-wrapper-1 .main-selected-tags-label {
  font: 1rem/36px "Montserrat-Regular";
  color: rgba(0, 1, 1, 0.55);
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-item-wrapper {
  display: flex;
  column-gap: 12px;
  padding-left: 12px;
  border-radius: 2px;
  background-color: #e1e3eb;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-item-wrapper .main-selected-tag {
  font: 1rem/36px "Montserrat-Regular";
  color: #0069a5;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-item-wrapper .main-selected-tag-cancel-btn {
  color: #F0F1F5;
  background-color: #767fa3;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-item-wrapper .main-selected-tag-cancel-btn:hover {
  background-color: #5c658a;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-cancel-all-btn {
  color: #525a7b;
  background-color: transparent;
}
.main-main .main-wrapper-1 .main-selected-tags-wrapper .main-selected-tag-cancel-all-btn:hover {
  background-color: #e1e3eb;
}
.main-main .main-wrapper-2 {
  display: flex;
  column-gap: 48px;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 25%;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 24px;
  border-radius: 2px;
  background-color: #e1e3eb;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-selection-block-title {
  font: 1rem/1rem "Montserrat-Bold";
  color: #000101;
  text-align: center;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item {
  position: relative;
  display: block;
  padding-left: calc(1.2rem + 6px);
  font: 1rem/36px "Montserrat-Regular";
  color: #000101;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item:hover .category-radio ~ .custom-category-radio {
  background-color: #d1d4e1;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item .category-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item .category-radio:checked ~ .custom-category-radio {
  background-color: #112233;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item .category-radio:checked ~ .custom-category-radio:after {
  display: block;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item .custom-category-radio {
  position: absolute;
  top: calc(18px - 0.6rem);
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #F0F1F5;
  transition: 0.1s;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-categories-form .main-category-item .custom-category-radio:after {
  position: absolute;
  display: none;
  top: 0.3rem;
  left: 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  content: "";
  background: #F0F1F5;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-tags-form {
  display: flex;
  flex-direction: column;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-tags-form .main-tag-btn {
  padding: calc(18px - 0.6rem) 0;
  border: 0;
  margin: 0;
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #0069a5;
  text-align: left;
  word-wrap: break-word;
  background-color: transparent;
  cursor: pointer;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-tags-form .main-tag-btn:hover {
  text-decoration: underline;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-selection-btn-wrapper {
  align-self: center;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-selection-btn-wrapper .main-tag-settings-btn {
  color: #525a7b;
  background-color: transparent;
  white-space: nowrap;
}
.main-main .main-wrapper-2 .main-wrapper-2-1 .main-selection-block-wrapper .main-selection-btn-wrapper .main-tag-settings-btn:hover {
  background-color: #d1d4e1;
}
.main-main .main-wrapper-2 .main-wrapper-2-2 {
  flex: 1 1 auto;
  display: grid;
  grid-gap: 24px;
  grid-template: min-content/repeat(4, 1fr);
}
.main-main .main-wrapper-2 .main-wrapper-2-2 .main-publication-item-wrapper .pub-card {
  flex-direction: column;
}

/* ---------- /main.html ---------- */
/* ---------- user.html ---------- */
.user-main {
  display: flex;
  column-gap: 48px;
  padding: 96px 48px 48px;
}
.user-main .user-wrapper-1,
.user-main .user-wrapper-2 {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.user-main .user-wrapper-1 .profile-img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.user-main .user-wrapper-1 .profile-img-wrapper .profile-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}
.user-main .user-wrapper-1 .profile-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-settings-btn,
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-subscribe-btn {
  color: #fcfcfd;
  background-color: #112233;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-settings-btn:hover,
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-subscribe-btn:hover {
  background-color: #1e3c59;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-write-btn {
  color: #000101;
  background-color: #e1e3eb;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-write-btn:hover {
  background-color: #d1d4e1;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-submenu-btn {
  position: relative;
  color: #000101;
  background-color: transparent;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-submenu-btn:hover {
  background-color: #e1e3eb;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-submenu-btn .profile-submenu-wrapper {
  position: absolute;
  top: 48px;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  background-color: #112233;
}
.user-main .user-wrapper-1 .profile-btns-wrapper .profile-submenu-btn .profile-submenu-wrapper:after {
  position: absolute;
  top: -12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #112233;
  content: "";
}
.user-main .user-wrapper-1 .profile-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list {
  display: flex;
  flex-direction: column;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list .profile-info-item {
  display: flex;
  column-gap: 6px;
  align-items: center;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list .profile-info-item .profile-info-item-ico {
  font-size: 1rem;
  color: #949bb8;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list .profile-info-item .profile-info-item-text {
  font-size: 1rem;
  line-height: 36px;
  font-family: "Montserrat-Regular";
  color: #000101;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list .profile-info-item .profile-info-item-text[href]:hover {
  text-decoration: underline;
}
.user-main .user-wrapper-1 .profile-info-wrapper .profile-info-list .profile-info-item .profile-info-item-main-text {
  font-family: "Montserrat-SemiBold";
}
.user-main .user-wrapper-2 .profile-content-block-wrapper,
.user-main .user-wrapper-2 .profile-comments-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  scroll-margin-top: 48px;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.user-main .user-wrapper-2 .profile-name-description-wrapper .profile-description {
  max-width: 720px;
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #000101;
}
.user-main .user-wrapper-2 .profile-content-block-wrapper .profile-content-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(4, 1fr);
  max-height: calc(100vh - 96px);
  padding: 12px;
  margin: -12px;
  overflow: auto;
}
/* ---------- /user.html ---------- */
/* ---------- settings.html ---------- */
.settings-main {
  padding: 96px 35% 48px;
}
.settings-main .form-wrapper .settings-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.settings-main .form-wrapper .settings-wrapper .settings-group-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.settings-main .form-wrapper .settings-wrapper .settings-group-wrapper .settings-group-title-wrapper {
  width: 200px;
  height: 17px;
  background-color: aqua;
}
.settings-main .form-wrapper .settings-wrapper .settings-group-wrapper .settings-group-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.settings-main .form-wrapper .settings-wrapper .settings-group-wrapper .settings-group-content-wrapper .settings-group-btn-wrapper {
  width: 150px;
  height: 36px;
  background-color: aqua;
}

/* ---------- /settings.html ---------- */
/* ---------- passchange.html ---------- */
.passchange-main {
  padding: 96px 35% 48px;
}
.passchange-main .form-wrapper .passchange-form-wrapper {
  height: 400px;
  background-color: aqua;
}

/* ---------- /passchange.html ---------- */
/* ---------- about.html ---------- */
.about-main {
  padding: 96px 48px 48px;
}
.about-main .about-wrapper {
  height: 1000px;
  background-color: aqua;
}

/* ---------- /about.html ---------- */
/* ---------- support.html ---------- */
.support-main {
  padding: 96px 25% 48px;
}
.support-main .form-wrapper .support-wrapper {
  height: 500px;
  background-color: aqua;
}

/* ---------- /support.html ---------- */
/* ---------- search.html ---------- */
.search-main {
  padding: 96px 25% 48px;
}
.search-main .search-results-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.search-main .search-results-block-wrapper .search-request-wrapper {
  font: 1rem/1.2rem "Montserrat-Regular";
  color: rgba(0, 1, 1, 0.55);
}
.search-main .search-results-block-wrapper .search-request-wrapper .search-request {
  font-family: "Montserrat-SemiBold";
}
.search-main .search-results-block-wrapper .search-results-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
/* ---------- /search.html ---------- */
/* ---------- chat.html ---------- */
.chat-main {
  display: flex;
  padding: 48px 48px 0;
}
.chat-main .chat-wrapper-1,
.chat-main .chat-wrapper-2 {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
}
.chat-main .chat-wrapper-1 {
  width: 30%;
}
.chat-main .chat-wrapper-1 .chat-global-search-block-wrapper {
  padding: 6px 12px;
  background-color: gray;
}
.chat-main .chat-wrapper-1 .chat-global-search-block-wrapper .chat-global-search-wrapper {
  width: 100%;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper {
  flex: 1 1 0;
  overflow: auto;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper {
  display: flex;
  column-gap: 6px;
  padding: 12px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-img-wrapper {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex: 1 1 0;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 {
  display: flex;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 {
  justify-content: space-between;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-name-wrapper,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-pubdate-wrapper {
  height: 15px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-name-wrapper {
  width: 150px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-1 .chat-conversation-pubdate-wrapper {
  width: 75px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 {
  column-gap: 6px;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-wrapper,
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-status-wrapper {
  height: 15px;
  background-color: aqua;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-wrapper {
  flex: 1 1 0;
}
.chat-main .chat-wrapper-1 .chat-conversations-wrapper .chat-conversation-item-wrapper .chat-conversation-not-img-wrapper .chat-conversation-not-img-wrapper-2 .chat-conversation-last-message-status-wrapper {
  width: 15px;
}
.chat-main .chat-wrapper-2 {
  width: 70%;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header,
.chat-main .chat-wrapper-2 .chat-wrapper-2-footer {
  padding: 6px 12px;
  background-color: blue;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header {
  display: flex;
  justify-content: space-between;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-name-wrapper {
  width: 200px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-header .chat-wrapper-2-header-btns-wrapper .chat-wrapper-2-header-btn {
  width: 36px;
  height: 36px;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1 1 0;
  padding: 12px;
  overflow: auto;
  background-color: aqua;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-my-message-wrapper,
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-anothers-message-wrapper {
  width: 80%;
  height: 100px;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-my-message-wrapper {
  float: right;
  background-color: lime;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-message-item-wrapper .chat-anothers-message-wrapper {
  background-color: white;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-pubdate-block-wrapper {
  display: flex;
  justify-content: center;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-main .chat-pubdate-block-wrapper .chat-pubdate-wrapper {
  width: 100px;
  height: 20px;
  background-color: gray;
}
.chat-main .chat-wrapper-2 .chat-wrapper-2-footer .chat-send-message-wrapper {
  height: 36px;
  background-color: aqua;
}

/* ---------- /chat.html ---------- */
/* ---------- publication.html ---------- */
.publication-main {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 96px 48px 48px;
}
.publication-main .publication-wrapper-1 {
  display: flex;
  column-gap: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1,
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 {
  flex: 1.5 1.5 0;
  max-width: calc((100% - 48px) * 0.6);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 20%;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn[class*=publication-img-prev-btn],
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn[class*=publication-img-prev-btn] {
  left: 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn[class*=publication-img-next-btn],
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn[class*=publication-img-next-btn] {
  right: 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn:hover,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn:hover {
  background-color: rgba(17, 34, 51, 0.4);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn:hover .publication-img-prev-next-ico,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn:hover .publication-img-prev-next-ico {
  color: rgba(240, 241, 245, 0.8);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-prev-btn .publication-img-prev-next-ico,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img-next-btn .publication-img-prev-next-ico {
  font-size: 2rem;
  color: transparent;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-img-wrapper .publication-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-small-img {
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 0.1s;
  outline: 2px solid transparent;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-small-img:hover {
  outline: 2px solid #a4aac2;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-small-img[class*=publication-img-selected] {
  width: 48px;
  height: 48px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-img-block-wrapper .publication-small-imgs-wrapper .publication-small-img:not([class*=publication-img-selected]) {
  width: 36px;
  height: 36px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper {
  display: flex;
  column-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-section-btns-block-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-section-btns-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex: 1 1 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-section-btns-block-wrapper .publication-section-btn-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-section-btns-block-wrapper .publication-section-btn-wrapper {
  height: 36px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 5 5 0;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-header-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-header-wrapper {
  height: 24px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-presentation-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-content-wrapper,
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-realization-wrapper .publication-sections-block-wrapper .publication-section-wrapper .publication-section-content-wrapper {
  height: 600px;
  background-color: aqua;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-1 .publication-tabs-block-wrapper .publication-ideas-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(3, 1fr);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 {
  flex: 1 1 0;
  max-width: calc((100% - 48px) * 0.4);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper {
  display: flex;
  column-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-type {
  font: 0.8rem/1rem "Montserrat-SemiBold";
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-type[class*=publication-type-idea] {
  color: #da040d;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-type[class*=publication-type-problem] {
  color: #0073b4;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-location {
  font: 0.8rem/1rem "Montserrat-SemiBold";
  color: rgba(0, 1, 1, 0.55);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-description {
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #000101;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-tags-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-tags-wrapper .publication-tag-item {
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #0069a5;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-date {
  font: 0.8rem/36px "Montserrat-SemiBold";
  color: rgba(0, 1, 1, 0.55);
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper {
  display: flex;
  column-gap: 6px;
  padding: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper:hover .publication-author-name {
  text-decoration: underline;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-main-info-wrapper .publication-main-info-row-wrapper .publication-author-wrapper .publication-author-name {
  font: 0.8rem/36px "Montserrat-SemiBold";
  color: #000101;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-statistic {
  font: 1rem/1.2rem "Montserrat-Regular";
  color: #000101;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-statistic span {
  font: 1rem/1.2rem "Montserrat-Bold";
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper {
  display: flex;
  column-gap: 12px;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-suscribe-btn {
  color: #fcfcfd;
  background-color: #112233;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-suscribe-btn:hover {
  background-color: #1e3c59;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-total-stats-submenu-btn {
  color: #112233;
  background-color: transparent;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-total-stats-submenu-btn:hover {
  background-color: #e1e3eb;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-add-idea-btn {
  color: #fcfcfd;
  background-color: #d0040c;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-add-idea-btn:hover {
  background-color: #e9040e;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-donate-btn {
  color: #fcfcfd;
  background-color: #206040;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-donate-btn:hover {
  background-color: #26734d;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-donations-submenu-btn {
  color: #2d8659;
  background-color: transparent;
}
.publication-main .publication-wrapper-1 .publication-wrapper-1-2 .publication-reactions-wrapper .publication-reactions-item-wrapper .publication-reaction-btns-wrapper .publication-donations-submenu-btn:hover {
  background-color: #e1e3eb;
}
.publication-main .publication-wrapper-2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.publication-main .publication-wrapper-2 .publication-recommendations-block-wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template: auto/repeat(5, 1fr);
}

/* ---------- /publication.html ---------- */
/* ---------- pubpublication.html ---------- */
.pubpublication-main {
  padding: 96px 25% 48px;
}
.pubpublication-main .form-wrapper .pubpublication-tabs-wrapper {
  height: 36px;
  background-color: aqua;
}
.pubpublication-main .form-wrapper .pubpublication-form-wrapper {
  height: 800px;
  background-color: aqua;
}

/* ---------- /pubpublication.html ---------- */

/*# sourceMappingURL=styles.css.map */
