@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


$dark-color: #112233;
$light-color: #F0F1F5;
$accent-color-r: #FC575E;
$accent-color-g: #66CC99;
$accent-color-b: #44BBFF;

$base-size: 24px;
$base-border-width: 2px;
$base-border-radius: 2px;
$base-transition: .1s;
$base-font-size: 14px;


@mixin ellipsis($number-lines) {
	display: -webkit-box;
	-webkit-line-clamp: $number-lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}


.display-none {
	display: none !important;
}


.scroll-up-wrapper {
	position: fixed;
	top: 0;
	left: 0;

	width: $base-size;
	height: 100vh;

	background-color: pink;
}


.ghost-btn {
	height: ($base-size*1.5);
	padding: 0 $base-size;
	border: 0;
	border-radius: $base-border-radius;
	margin: 0;

	font: 1rem/calc($base-size*1.5) 'Montserrat-Bold';
	background-color: transparent;
	transition: $base-transition;
	cursor: pointer;
}


.ico-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: ($base-size*1.5);
	height: ($base-size*1.5);
	padding: 0;
	border: 0;
	border-radius: $base-border-radius;
	margin: 0;
	font-size: ($base-size*.75);
	
	cursor: pointer;
	transition: $base-transition;
}


.pub-card {
	position: relative;
	display: flex;
	gap: ($base-size*.5);
	
	padding: ($base-size*.5);
	border-radius: $base-border-radius;

	text-decoration: none;
	transition: $base-transition;

	&[class*="pub-card-idea"] {
		border: $base-border-width solid rgba($accent-color-r, .25);

		&:hover {
			border-color: rgba($accent-color-r, .75);

			& .pub-card-type-idea {
				color: rgba($accent-color-r, 1);
			}
		}
	}

	&[class*="pub-card-problem"] {
		border: $base-border-width solid rgba(darken($accent-color-b, 25%), .25);

		&:hover {
			border-color: rgba(darken($accent-color-b, 15%), .75);

			& .pub-card-type-problem {
				color: rgba(darken($accent-color-b, 15%), 1);
			}
		}
	}

	.pub-card-type {
		position: absolute;
		top: -($base-size*.25 + $base-border-width*.5);
		left: ($base-size*.25);

		padding: 0 ($base-size*.25);

		font: .8rem/calc($base-size*.5) 'Montserrat-Bold';
		background-color: $light-color;
		transition: $base-transition;

		&[class*="pub-card-type-idea"] {
			color: rgba($accent-color-r, .5);
		}

		&[class*="pub-card-type-problem"] {
			color: rgba(darken($accent-color-b, 25%), .5);
		}
	}

	.pub-card-img-wrapper {
		flex: 1 1 50%;

		/*****************************************************************************
		**																																					**
		**	Сделать чтоб все фото публикаций сохраняли соотношение сторон 16 к 9 !	**
		**																																					**
		*****************************************************************************/
		.pub-card-img {
			// width: 100%;
			// height: 56.25%;  // 100% * 16 / 9
			border-radius: $base-border-radius;

			object-fit: cover;
		}
	}

	.pub-card-not-img-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: ($base-size*.5);
		flex: 1 1 50%;

		.pub-card-title,
		.pub-card-description {
			max-height: 2.4rem;

			@include ellipsis(2);  // троеточие
			color: $dark-color;
		}				

		.pub-card-title {
			font: 1rem/1.2rem 'Montserrat-Bold';
		}

		.pub-card-description {
			font: 1rem/1.2rem 'Montserrat-Regular';
		}

		.pub-card-statistics-wrapper {
			display: flex;
			gap: ($base-size*.5);
			flex-wrap: wrap;

			.pub-card-statistic-donations-wrapper {
				padding: 0 ($base-size*.25);
				border-radius: $base-border-radius;

				font: 1rem/calc($base-size) 'Montserrat-Regular';
				color: $dark-color;
				background-color: lighten($accent-color-g, 25%);
			}

			.pub-card-statistic-item-wrapper {
				display: flex;
				column-gap: ($base-size*.2);
				align-items: center;

				.pub-card-statistic-item-ico {
					font-size: 1rem;
					color: darken($light-color, 25%);
				}

				.pub-card-statistic-item-value {
					font: 1rem/calc($base-size) 'Montserrat-Regular';
					color: $dark-color;
				}
			}
		}

		.pub-card-pubdate-author-wrapper {
			display: flex;
			gap: ($base-size*.5);
			flex-wrap: wrap;

			.pub-card-pubdate {
				font: 1rem/calc($base-size) 'Montserrat-Regular';
				color: darken($light-color, 50%);
			}

			.pub-card-author-wrapper {
				display: flex;
				column-gap: ($base-size*.2);

				.pub-card-author-img {
					width: $base-size;
					height: $base-size;
					border-radius: 50%;

					object-fit: cover;
				}

				.pub-card-author-name {
					font: 1rem/calc($base-size) 'Montserrat-Regular';
					color: $dark-color;
				}
			}
		}
	}	
}


.user-card-wrapper {
	display: flex;
	gap: ($base-size*.5);

	.user-card-img-wrapper {
		width: 150px;
		height: 150px;

		background-color: aqua;
	}

	.user-card-not-img-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: ($base-size*.5);
		flex: 1 1 auto;

		.user-card-name-wrapper {
			width: 200px;
			height: 20px;

			background-color: aqua;
		}

		.user-card-description-wrapper {
			height: 40px;

			background-color: aqua;
		}

		.user-card-statistics-block-wrapper {
			display: flex;
			gap: ($base-size*.25);
			flex-wrap: wrap;

			.user-card-statistic-item-wrapper {
				display: flex;
				column-gap: ($base-size*.125);

				.user-card-statistic-ico-wrapper {
					width: $base-size;
					height: $base-size;

					background-color: aqua;
				}

				.user-card-statistic-text-wrapper {
					width: 40px;
					height: $base-size;

					background-color: aqua;	
				}
			}
		}

		.user-card-location-wrapper {
			width: 150px;
			height: 24px;

			background-color: aqua;
		}
	}
}


.comments-block-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: $base-size;

	.comment-img-wrapper {
		width: ($base-size*1.5);
		height: ($base-size*1.5);
	
		background-color: aqua;
	}

	.add-comment-wrapper {
		display: flex;
		column-gap: ($base-size*.5);

		.add-comment-form-wrapper {
			width: ($base-size*30);
			height: 48px;

			background-color: aqua;
		}
	}

	.comments-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: $base-size;

		.comment-wrapper {
			display: flex;
			column-gap: ($base-size*.5);

			.comment-not-img-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.only-comment-not-img-wrapper {
					display: flex;
					flex-direction: column;
					row-gap: ($base-size*.5);

					.comment-name-pubdate-wrapper,
					.comment-text-wrapper,
					.comment-reaction-btns-wrapper,
					.comment-answers-btn-wrapper {
						width: ($base-size*30);
					}				

					.comment-name-pubdate-wrapper {
						display: flex;
						column-gap: ($base-size*.5);

						.comment-name-wrapper,
						.comment-pubdate-wrapper {
							height: 20px;

							background-color: aqua;
						}

						.comment-name-wrapper {
							width: 100px;
						}

						.comment-pubdate-wrapper {
							width: 50px;
						}
					}

					.comment-text-wrapper {
						height: 48px;

						background-color: aqua;
					}

					.comment-reaction-btns-wrapper {
						display: flex;
						column-gap: ($base-size*.5);

						.comment-reply-btn-wrapper,
						.comment-like-btns-wrapper {
							height: ($base-size*1.5);

							background-color: aqua;
						}

						.comment-reply-btn-wrapper {
							width: 100px;
						}

						.comment-like-btns-wrapper {
							width: 70px;
						}
					}
				}

				.comment-answers-wrapper {

				}

				.comment-answers-btn-wrapper {
					height: ($base-size*1.5);

					background-color: aqua;
				}

			}
		}
	}
}


.form-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: $base-size;

	padding: $base-size;
	border: 2px solid gray;

	.form-title-wrapper {
		position: absolute;
		top: -($base-size*.5 + 1px);  // 1px - это с учетом border: 2px
		left: ($base-size*.5);

		width: 200px;
		height: 24px;

		background-color: aqua;
	}
}
		

html {
	font-size: $base-font-size;
}


body {
	background-color: $light-color;
}


header, 
footer {
	display: flex;
	z-index: 1;

	width: 100%;
	padding: ($base-size*.25) ($base-size*2);

	background-color: $dark-color;
}


header {
	position: fixed;
	column-gap: ($base-size*2);

	.burger-btn-wrapper,
	.logo-wrapper,
	.search-wrapper,
	.public-btns-wrapper,
	.sign-btns-wrapper,
	.user-btns-wrapper {
		height: ($base-size*1.5);
	}

	.burger-btn-wrapper {
		width: ($base-size*1.5);

		background-color: aqua;

		.menu-wrapper {
			position: fixed;
			top: ($base-size*2);
			left: 0;
			display: flex;
			flex-direction: column;
			row-gap: ($base-size*2);
			transform: translateX(-100%);

			height: calc(100vh - $base-size*2);
			border-top: ($base-size*.25) solid $dark-color;
			border-bottom: ($base-size*2.25) solid $dark-color;

			background-color: $dark-color;
			// transition: $transition-val;
			overflow: auto;

			.menu-items-wrapper {
				height: 300px;

				background-color: pink;
			}

			.menu-selects-wrapper {
				display: flex;
				column-gap: ($base-size*.5);

				padding: 0 ($base-size*2);

				.custom-select-wrapper {
					width: 100px;
					height: ($base-size*1.5);

					background-color: pink;

					.custom-select-options-wrapper {
						position: relative;
						top: ($base-size*1.5);

						height: 100px;

						background-color: gray;
					}
				}				
			}
		}
		.menu-active {
			transform: translateX(0%);
		}
	}

	.logo-wrapper {
		width: 100px;

		background-color: aqua;
	}

	.search-wrapper {
		flex: 1 1 200px;

		background-color: aqua;

		.search-autocomplete-wrapper {
			position: relative;
			top: ($base-size*1.75);

			height: 100px;

			background-color: $dark-color;
		}
	}

	.public-btns-wrapper {
		display: flex;
		column-gap: ($base-size*.5);

		.public-btn-wrapper {
			width: 200px;
			height: ($base-size*1.5);

			background-color: aqua;
		}				
	}

	.sign-btns-wrapper {
		display: flex;
		column-gap: ($base-size*.5);

		.sign-btn-wrapper {
			width: 200px;
			height: ($base-size*1.5);

			background-color: aqua;
		}
	}

	.user-btns-wrapper {
		display: flex;
		column-gap: $base-size;

		.user-btn-wrapper {
			width: ($base-size*1.5);
			height: ($base-size*1.5);

			background-color: aqua;
		
			.notifications-wrapper {
				position: relative;
				top: ($base-size*1.5);
				right: ($base-size*20 - $base-size*1.5);
				display: flex;
				flex-direction: column;
				row-gap: ($base-size*.5);

				width: ($base-size*20);
				padding: ($base-size*.5);

				background-color: $dark-color;

				.notification-wrapper {
					display: flex;
					column-gap: ($base-size*.25);

					.notification-img-wrapper {
						width: ($base-size*1.5);
						height: ($base-size*1.5);

						background-color: aqua;
					}

					.notification-not-img-wrapper {
						display: flex;
						flex-direction: column;
						row-gap: ($base-size*.25);
						flex: 1 1 0;

						.notification-text-wrapper {
							height: 48px;

							background-color: aqua;
						}

						.notification-not-text-wrapper {
							display: flex;
							justify-content: space-between;

							.notification-btns-wrapper {
								display: flex;
								column-gap: ($base-size*.25);

								.notification-btn-wrapper {
									width: 100px;
									height: ($base-size*1.5);
								
									background-color: aqua;
								}
							}

							.notification-pubdate-wrapper {
								width: 100px;
								height: ($base-size*1.5);
								
								background-color: aqua;
							}
						}
					}
				}
			}

		}
	}
}


footer {
	position: relative;
	display: flex;
	justify-content: space-between;

	.documents-btns-wrapper,
	.copyright-wrapper,
	.social-media-btns-wrapper {

	}

	.documents-btns-wrapper {
		display: flex;
		margin-right: (-$base-size*.5);

		.document-btn-wrapper {
			width: 150px;
			height: ($base-size*1.5);
			margin-right: ($base-size*.5);
		
			background-color: aqua;
		}
	}

	.copyright-wrapper {
		width: 100px;
		height: ($base-size*1.5);

		background-color: aqua;
	}

	.social-media-btns-wrapper {
		display: flex;
		margin-right: -$base-size;

		.social-media-btn-wrapper {
			width: ($base-size*1.5);
			height: ($base-size*1.5);
			margin-right: $base-size;

			background-color: aqua;
		}
	}
}


main {
	min-height: calc(100vh - $base-size*2);
}


/* ---------- signup.html ---------- */
.signup-main {
	padding: ($base-size*4) 35% ($base-size*2);	

	.form-wrapper {

		.signup-wrapper {
			height: 600px;

			background-color: aqua;
		}
	}
}
/* ---------- /signup.html ---------- */


/* ---------- signin.html ---------- */
.signin-main {
	padding: ($base-size*4) 35% ($base-size*2);	

	.form-wrapper {

		.signin-wrapper {
			height: 600px;

			background-color: aqua;
		}
	}	
}
/* ---------- /signin.html ---------- */


/* ---------- passrecovery.html ---------- */
.passrecovery-main {
	padding: ($base-size*4) 35% ($base-size*2);	

	.form-wrapper {

		.passrecovery-form-wrapper {
			height: 300px;

			background-color: aqua;
		}
	}
}
/* ---------- /passrecovery.html ---------- */


/* ---------- main.html ---------- */
.main-main {
	display: flex;
	flex-direction: column;
	row-gap: ($base-size*2);

	padding: ($base-size*4) ($base-size*2) ($base-size*2);

	.main-wrapper-1,
	.main-wrapper-2 {

	}

	.main-wrapper-1 {
		display: flex;
		column-gap: $base-size;

		.main-selected-tags-label {
			font: 1rem/calc($base-size*1.5) 'Montserrat-Regular';
			color: darken($light-color, 25%);
		}

		.main-selected-tags-wrapper {
			display: flex;
			gap: ($base-size*.5);
			flex-wrap: wrap;

			.main-selected-tag-item-wrapper {
				display: flex;
				column-gap: ($base-size*.5);

				padding-left: ($base-size*.5);
				border-radius: $base-border-radius;

				background-color: darken($light-color, 5%);

				.main-selected-tag {
					font: 1rem/calc($base-size*1.5) 'Montserrat-Regular';
					color: darken($accent-color-b, 25%);
				}

				.main-selected-tag-cancel-btn {
					color: $light-color;
					background-color: darken($light-color, 35%);

					&:hover {
						background-color: darken($light-color, 50%);
					}
				}
			}

			.main-selected-tag-cancel-all-btn:hover {
				background-color: darken($light-color, 5%);
			}
		}
	}

	.main-wrapper-2 {
		display: flex;
		column-gap: ($base-size*2);

		.main-wrapper-2-1 {
			display: flex;
			flex-direction: column;
			row-gap: $base-size;

			max-width: 25%;

			.main-selection-block-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: ($base-size*.5);

				padding: $base-size;
				border-radius: $base-border-radius;

				background-color: darken($light-color, 5%);

				.main-selection-block-title {
					font: 1rem/1rem 'Montserrat-Bold';
					color: $dark-color;
					text-align: center;
				}

				.main-categories-form {

					.main-category-item {
						position: relative;
						display: block;

						padding-left: calc(1.2rem + $base-size*.25);

						font: 1rem/calc($base-size*1.5) 'Montserrat-Regular';
						cursor: pointer;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;

						&:hover .category-radio ~ .custom-category-radio {
							background-color: darken($light-color, 20%);
						}

						.category-radio {
							position: absolute;

							opacity: 0;
							cursor: pointer;

							&:checked ~ .custom-category-radio {
								background-color: $dark-color;
							}

							&:checked ~ .custom-category-radio:after {
								display: block;
							}
						}

						.custom-category-radio {
							position: absolute;
							top: calc($base-size*.75 - .6rem);
							left: 0;

							width: 1.2rem;
							height: 1.2rem;
							border-radius: 50%;
							
							background-color: $light-color;
							transition: $base-transition;

							&:after {
								position: absolute;
								display: none;
								top: .3rem;
								left: .3rem;

								width: .6rem;
								height: .6rem;
								border-radius: 50%;
								
								content: "";
								background: $light-color;
							}
						}
					}
				}

				.main-tags-form {
					display: flex;
					flex-direction: column;

					.main-tag-btn {
						padding: calc($base-size*.75 - .6rem) 0;
						border: 0;
						margin: 0;

						font: 1rem/1.2rem 'Montserrat-Regular';
						text-align: left;
						word-wrap: break-word;
						color: darken($accent-color-b, 25%);
						background-color: transparent;
						cursor: pointer;

						&:hover {
							text-decoration: underline;
						}
					}
				}					

				.main-selection-btn-wrapper {
					align-self: center;

					.main-tag-settings-btn {
						color: darken($light-color, 50%);
						white-space: nowrap;

						&:hover {
							background-color: darken($light-color, 10%);
						}
					}
				}
			}
		}

		.main-wrapper-2-2 {
			flex: 1 1 auto;
			display: grid;
			grid-gap: $base-size;
			grid-template: auto / repeat(4, 1fr);

			.main-publication-item-wrapper {

				.pub-card {
					flex-direction: column;
				}
			}
		}
	}
}
/* ---------- /main.html ---------- */


/* ---------- user.html ---------- */
.user-main {
	display: flex;
	column-gap: ($base-size*2);

	padding: $base-size*4 $base-size*2 $base-size*2;

	.profile-h-wrapper {
		width: 250px;
		height: 24px;

		background-color: aqua;
	}

	.user-wrapper-1,
	.user-wrapper-2 {
		display: flex;
		flex-direction: column;
		row-gap: ($base-size*2);
	}

	.user-wrapper-1 {
		min-width: ($base-size*10);

		.profile-img-wrapper,
		.profile-btns-wrapper,
		.profile-info-wrapper {

		}

		.profile-img-wrapper {
			height: 300px;

			background-color: aqua;
		}

		.profile-btns-wrapper {
			display: flex;
			column-gap: ($base-size*.5);

			.profile-btn-wrapper {
				width: 150px;
				height: ($base-size*1.5);

				background-color: aqua;

				.profile-btn-submenu-wrapper {
					position: relative;
					top: ($base-size*1.5);
					right: (200px - $base-size*1.5);

					width: 200px;
					height: 300px;

					background-color: gray;
				}
			}
			.profile-btn-wrapper:last-of-type {
				width: ($base-size*1.5) !important;
			}
		}

		.profile-info-wrapper {
			display: flex;
			flex-direction: column;
			row-gap: $base-size;

			.profile-info-list-wrapper {
				height: 250px;

				background-color: aqua;
			}
		}
	}

	.user-wrapper-2 {
		flex: 1 1 0;

		.profile-name-description-wrapper,
		.profile-content-block-wrapper,
		.profile-comments-block-wrapper {
			display: flex;
			flex-direction: column;
			row-gap: $base-size;
		}

		.profile-name-description-wrapper {

			.profile-name-wrapper,
			.profile-description-wrapper {
				background-color: aqua;
			}

			.profile-name-wrapper {
				width: 400px;
				height: 28px;
			}

			.profile-description-wrapper {
				max-width: ($base-size*30);
				height: 48px;
			}
		}

		.profile-content-block-wrapper {

			.profile-content-wrapper {
				display: grid;
				grid-gap: $base-size;
				grid-template: auto / repeat(3, 1fr);

				max-height: (684px + $base-size*.25 - 1px);
				// место для типа публикации: Идея / Проблема
				padding-top: ($base-size*.25 - 1px);
				margin-top: -($base-size*.25 - 1px);

				overflow: auto;

				.profile-content-item-wrapper {

					.pub-card {
						flex-direction: column;
					}

					.user-card-wrapper {
						flex-direction: column;
						align-items: center;
					}
				}
			}
		}

		.profile-comments-block-wrapper {

		}
	}
}
/* ---------- /user.html ---------- */


/* ---------- settings.html ---------- */
.settings-main {
	padding: $base-size*4 35% $base-size*2;	

	.form-wrapper {

		.settings-wrapper {
			display: flex;
			flex-direction: column;
			row-gap: ($base-size*2);

			.settings-group-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.settings-group-title-wrapper {
					width: 200px;
					height: 17px;

					background-color: aqua;
				}

				.settings-group-content-wrapper {
					display: flex;
					flex-direction: column;
					row-gap: ($base-size*.5);

					.settings-group-btn-wrapper {
						width: 150px;
						height: ($base-size*1.5);

						background-color: aqua;
					}
				}
			}
		}
	}
}
/* ---------- /settings.html ---------- */


/* ---------- passchange.html ---------- */
.passchange-main {
	padding: $base-size*4 35% $base-size*2;	

	.form-wrapper {

		.passchange-form-wrapper {
			height: 400px;

			background-color: aqua;
		}
	}
}
/* ---------- /passchange.html ---------- */


/* ---------- about.html ---------- */
.about-main {
	padding: ($base-size*4) ($base-size*2) ($base-size*2);	

	.about-wrapper {
		height: 1000px;

		background-color: aqua;
	}	
}
/* ---------- /about.html ---------- */


/* ---------- support.html ---------- */
.support-main {
	padding: ($base-size*4) 25% ($base-size*2);	

	.form-wrapper {

		.support-wrapper {
			height: 500px;

			background-color: aqua;
		}
	}
}
/* ---------- /support.html ---------- */


/* ---------- search.html ---------- */
.search-main {
	padding: ($base-size*4) 25% ($base-size*2);

	.search-results-block-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: $base-size;

		.search-request-wrapper {
			width: 500px;
			height: 24px;

			background-color: aqua;
		}

		.search-tabs-wrapper {
			height: 36px;

			background-color: aqua;
		}

		.search-results-wrapper {
			display: flex;
			flex-direction: column;
			row-gap: $base-size;

			.search-result-item-wrapper {

			}
		}
	}
}
/* ---------- /search.html ---------- */


/* ---------- chat.html ---------- */
.chat-main {
	display: flex;

	padding: $base-size*2 $base-size*2 0;

	.chat-wrapper-1,
	.chat-wrapper-2 {
		display: flex;
		flex-direction: column;

		height: calc(100vh - $base-size*4);					
	}

	.chat-wrapper-1 {
		width: 30%;

		// background-color: pink;

		.chat-global-search-block-wrapper {
			padding: ($base-size*.25) ($base-size*.5);

			background-color: gray;
		
			.chat-global-search-wrapper {
				width: 100%;
				height: ($base-size*1.5);

				background-color: aqua;
			}
		}

		.chat-conversations-wrapper {
			flex: 1 1 0;

			overflow: auto; 

			.chat-conversation-item-wrapper {
				display: flex;
				column-gap: ($base-size*.25);

				padding: ($base-size*.5);

				.chat-conversation-img-wrapper {
					width: ($base-size*1.5);
					height: ($base-size*1.5);

					background-color: aqua;
				}

				.chat-conversation-not-img-wrapper {
					display: flex;
					flex-direction: column;
					row-gap: ($base-size*.25);
					flex: 1 1 0;

					.chat-conversation-not-img-wrapper-1,
					.chat-conversation-not-img-wrapper-2 {
						display: flex;
					}

					.chat-conversation-not-img-wrapper-1 {
						justify-content: space-between;

						.chat-conversation-name-wrapper,
						.chat-conversation-pubdate-wrapper {
							height: 15px;

							background-color: aqua;
						}

						.chat-conversation-name-wrapper {
							width: 150px;
						}

						.chat-conversation-pubdate-wrapper {
							width: 75px;
						}
					}

					.chat-conversation-not-img-wrapper-2 {
						column-gap: ($base-size*.25);

						.chat-conversation-last-message-wrapper,
						.chat-conversation-last-message-status-wrapper {
							height: 15px;

							background-color: aqua;
						}

						.chat-conversation-last-message-wrapper {
							flex: 1 1 0;
						}

						.chat-conversation-last-message-status-wrapper {
							width: 15px;
						}
					}
				}
			}
		}
	}

	.chat-wrapper-2 {
		width: 70%;

		.chat-wrapper-2-header,
		.chat-wrapper-2-footer {
			padding: ($base-size*.25) ($base-size*.5);

			background-color: blue;
		}

		.chat-wrapper-2-header {
			display: flex;
			justify-content: space-between;

			.chat-wrapper-2-header-name-wrapper {
				width: 200px;
				height: ($base-size*1.5);

				background-color: aqua;
			}

			.chat-wrapper-2-header-btns-wrapper {
				display: flex;
				column-gap: ($base-size*.5);

				.chat-wrapper-2-header-btn {
					width: ($base-size*1.5);
					height: ($base-size*1.5);

					background-color: aqua;
				}
			}
		}

		.chat-wrapper-2-main {
			display: flex;
			flex-direction: column;
			row-gap: ($base-size*.5);
			flex: 1 1 0;

			padding: ($base-size*.5);

			overflow: auto;
			background-color: aqua;

			.chat-message-item-wrapper {

				.chat-my-message-wrapper,
				.chat-anothers-message-wrapper {
					width: 80%;
					height: 100px;
				}				

				.chat-my-message-wrapper {
					float: right;

					background-color: lime;
				}

				.chat-anothers-message-wrapper {
					background-color: white;
				}
			}

			.chat-pubdate-block-wrapper {
				display: flex;
				justify-content: center;

				.chat-pubdate-wrapper {
					width: 100px;
					height: 20px;

					background-color: gray;
				}
			}
		}

		.chat-wrapper-2-footer {

			.chat-send-message-wrapper {
				height: ($base-size*1.5);

				background-color: aqua;
			}
		}
	}
}
/* ---------- /chat.html ---------- */


/* ---------- publication.html ---------- */
.publication-main {
	display: flex;
	flex-direction: column;
	row-gap: ($base-size*2);

	padding: ($base-size*4) ($base-size*2) ($base-size*2);

	.publication-wrapper-1,
	.publication-wrapper-2 {

	}

	.publication-wrapper-1 {
		display: flex;
		column-gap: ($base-size*2);

		.publication-wrapper-1-1,
		.publication-wrapper-1-2 {
			display: flex;
			flex-direction: column;
			row-gap: ($base-size*2);
		}

		.publication-wrapper-1-1 {		
			flex: 1.5 1.5 0;

			max-width: calc((100% - $base-size*2)*.6);

			.publication-img-block-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.publication-img-wrapper {
					height: 400px;

					background-color: aqua;
				}

				.publication-small-imgs-wrapper {
					display: flex;
					gap: ($base-size*.5);
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;


					.publication-small-img-item-wrapper {
						flex: 0 0 ($base-size*1.5);

						width: ($base-size*1.5);
						height: ($base-size*1.5);

						background-color: aqua;
					}

					.publication-img-selected {
						flex: 0 0 ($base-size*2);

						width: ($base-size*2);
						height: ($base-size*2);
					}
				}
			} 

			.publication-tabs-block-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.publication-tabs-wrapper {
					height: 36px;

					background-color: aqua;
				}

				.publication-presentation-wrapper,
				.publication-realization-wrapper {
					display: flex;
					column-gap: $base-size;

					.publication-section-btns-block-wrapper {
						display: flex;
						flex-direction: column;
						row-gap: ($base-size*.5);
						flex: 1 1 0;

						.publication-section-btn-wrapper {
							height: ($base-size*1.5);

							background-color: aqua;
						}
					}

					.publication-sections-block-wrapper {
						display: flex;
						flex-direction: column;
						row-gap: $base-size;
						flex: 5 5 0;

						.publication-section-wrapper {
							display: flex;
							flex-direction: column;
							row-gap: ($base-size*.5);

							.publication-section-header-wrapper {
								height: 24px;

								background-color: aqua;
							}

							.publication-section-content-wrapper {
								height: 600px;

								background-color: aqua;
							}
						}
					}
				}

				.publication-ideas-wrapper {
					display: grid;
					grid-gap: $base-size;
					grid-template: auto / repeat(3, 1fr);

					.publication-idea-item-wrapper {

						.pub-card {
							flex-direction: column;
						}
					}
				}

				.publication-comments-wrapper {

				}
			}
		}

		.publication-wrapper-1-2 {		
			flex: 1 1 0;

			max-width: calc((100% - $base-size*2)*.4);

			.publication-main-info-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.publication-main-info-row-wrapper {
					display: flex;
					column-gap: $base-size;

					.publication-type-wrapper,
					.publication-location-wrapper {
						height: 20px;

						background-color: aqua;
					}

					.publication-type-wrapper {
						width: 100px;
					}

					.publication-location-wrapper {
						width: 150px;
					}

					.publication-title-wrapper {
						width: 100%;
						height: 60px;

						background-color: aqua;
					}	

					.publication-description-wrapper {
						width: 100%;
						height: 100px;

						background-color: aqua;
					}

					.publication-tags-wrapper {
						display: flex;
						gap: ($base-size*.5);
						flex-wrap: wrap;

						.publication-tag-item-wrapper {
							width: 100px;
							height: 15px;

							background-color: aqua;
						}
					}

					.publication-date-wrapper {
						width: 100px;
						height: ($base-size*1.5);

						background-color: aqua;
					}

					.publication-author-wrapper {
						display: flex;
						column-gap: ($base-size*.5);
					
						.publication-author-img-wrapper,
						.publication-author-name-wrapper {
							height: ($base-size*1.5);

							background-color: aqua;
						}

						.publication-author-img-wrapper {
							width: ($base-size*1.5);
						}

						.publication-author-name-wrapper {
							width: 150px;
						}
					}
				}
			}

			.publication-reactions-wrapper {
				display: flex;
				flex-direction: column;
				row-gap: $base-size;

				.publication-reactions-item-wrapper {
					display: flex;
					flex-direction: column;
					row-gap: ($base-size*.5);

					.publication-reaction-statistic-wrapper {
						width: 300px;
						height: 20px;

						background-color: aqua;
					}

					.publication-reaction-btns-block-wrapper {
						display: flex;
						column-gap: ($base-size*.5);

						.publication-reaction-btn {
							width: 150px;
							height: ($base-size*1.5);

							background-color: aqua;
						}

						.publication-reaction-like-btns-wrapper {
							display: flex;
							column-gap: ($base-size*.25);

							.publication-reaction-like-btn {
								width: 80px;
								height: ($base-size*1.5);

								background-color: aqua;
							}
						}

						.publication-reaction-other-btn {
							width: ($base-size*1.5);
							height: ($base-size*1.5);

							background-color: aqua;
						}
					}
				}
			}
		}
	}

	.publication-wrapper-2 {		
		display: flex;
		flex-direction: column;
		row-gap: $base-size;

		.publication-recommendations-title-wrapper {
			width: 200px;
			height: 24px;

			background-color: aqua;
		}

		.publication-recommendations-block-wrapper {
			display: grid;
			grid-gap: $base-size;
			grid-template: auto / repeat(3, 1fr);
		
			.publication-recommendation-item-wrapper {

				.pub-card {
					flex-direction: column;
				}
			}
		}
	}
}
/* ---------- /publication.html ---------- */


/* ---------- pubpublication.html ---------- */
.pubpublication-main {
	padding: ($base-size*4) 25% ($base-size*2);	

	.form-wrapper {

		.pubpublication-tabs-wrapper {
			height: 36px;

			background-color: aqua;
		}

		.pubpublication-form-wrapper {
			height: 800px;

			background-color: aqua;
		}
	}
}
/* ---------- /pubpublication.html ---------- */
